<script src="https://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/hmac-sha256.js"></script>
<script src="https://crypto-js.googlecode.com/svn/tags/3.0.2/build/components/enc-base64-min.js"></script>


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/lock-bg.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Login Test</h1>
                    <hr class="small">
                    <span class="subheading">This is a test</span>
                    <p class="post-meta">The testiest</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<form>
						<div class="form-group" ng-submit="login()">
							<label for="usr">Username:</label>
							<input type="text" ng-model="usr" class="form-control" ng-enter="login()" id="usr">
						</div>
						<div class="form-group" ng-submit="login()">
							<label for="pwd">Password:</label>
							<input type="password" ng-model="pwd" class="form-control" ng-enter="login()" id="pwd">
						</div>
					</form>
					
					<button ng-click="login()" class="btn btn-default">Login</button>
					<button ng-click="verifySecret()" class="btn btn-default">Verify Secret</button>


                    <p style = "white-space:pre-wrap; word-wrap: break-word" ng-bind='out'></p>
            </div>
        </div>
        <div class="row" ng-hide = "id == -1">
            <div class="col-lg-6 col-md-8">
                <p style = "white-space:pre-wrap; font-family: 'Courier New';" ng-bind='board'></p>
            </div>

            <div class="col-lg-6 col-md-4">
                <label> Player: </label>
                <select ng-model="player">
                    <option ng-repeat="player in players" value="{{player}}">{{player}}</option>
                </select>


                <label> Box: </label>
                <select ng-model="box">
                    <option ng-repeat="box in boxes" value="{{box}}">{{box}}</option>
                </select>

                <label> Square: </label>
                <select ng-model="square">
                    <option ng-repeat="square in squares" value="{{square}}">{{square}}</option>
                </select>
                <br>
                <button ng-click='getGame()' class="btn btn-default">Update Game</button>
                <button ng-click='makeMove()' class="btn btn-default">Make Move</button>
            </div>
        </div>

        <div ng-bind="error"> </div>
    </div>
    <div class="container"
        style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" 
        unselectable="on"
        onselectstart="return false;" 
        onmousedown="return false;"
        ng-hide = "id == -1"
    >
        <div class = "row">
            <div class = "col-sm-12">
                <div ng-repeat = "i in [0,1,2]">
                    <div ng-repeat = "j in [0,1,2]"> 
                        <span ng-repeat = "k in [0,1,2]">
                            <span ng-repeat = "m in [0,1,2]">
                                <canvas id = "box{{3*i + k}}-{{3*j + m}}"  width="50" height="50" style="border:1px solid {{( (3*i + k) % 2) ? 'blue' : 'red'}}" ng-click="canvasClicked({{3*i + k}}, {{3*j + m}})"></canvas>
                            </span>
                            <span ng-bind="$last ? '' : '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'"></span>
                        </span>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</article>
