<!-- Page Header -->
<header class="intro-header" style="background-image: url(http://corgi.marktai.com/image)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Corgi Images!</h1>
                    <hr class="small">
                    <span class="subheading">They're adorable</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <select ng-repeat="s in selects">
                <option ng-repeat="s_triple in s" value="{{s_triple}}">{{s_triple}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <div ng-repeat="p in passwords">{{p}}</div>
        </div>
    </div>
</div>

