<!-- Page Header -->
<header class="intro-header" style="background-image: url('img/chess_clock.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Fischer Timer</h1>
                    <hr class="small">
                    <span class="subheading">So your games don't take literally forever</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-md-12">
				    <div>
					<div>
					    <label>Initial Time (s)</label>
					    <input ng-model="initial_time" class="form-control"></input>
					    <label>Fischer Time (s)</label>
					    <input ng-model="fischer_time" class="form-control"></input>
					</div>
					<br>
					<div>
					    <input ng-enter="add_timer()" ng-model="timer_to_add" class = "form-control" placeholder="Team name" required></input>
					    <button ng-click="add_timer()" class="btn btn-default">Add Timer</button>
					</div>
				    </div>
				</div>
				<div class="col-md-12">
					<div class="form-horizontal row">
					    <div ng-repeat="(team, timer) in timers" class="col-md-4">
						<h1>{{team}}: {{timer/1000}}</h1><br>
						<button ng-click="complement_timer(team)" class="btn btn-default" style='display:none'>Flip Timer</button>
						<button ng-click="switch_timer(team, 0)" class="btn btn-default">Make active (non Fischer)</button>
						<button ng-click="switch_timer(team)" class="btn btn-default">Make active (Fischer)</button>
					    </div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
